*{
	padding: 0;
	margin: 0;
}
#nav{
	background-color: #78b43d;
	width: 100%;
	height: 30px;
}
#logo{
	border-right: 1px solid white;
	width: 50px;
	height: 30px;
	float: left;
	margin-right: 5px;
}
#logo img{
	padding-top: 3px;
}
#category{
	color:white;
	line-height: 30px;
	border-right: 1px solid white;
	width: 130px;
	float: left;
	position: relative;
}
#menu ul li{
	list-style: none;
	float: left;
	line-height: 30px;
	padding-left: 5px;
	padding-right: 5px;
}
#menu ul li a{
	text-decoration: none;
	color:white;
}
#search{
	line-height: 30px;
	color: white;
	float: right;
	margin-right: 20px;
	border: 1px solid white;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	text-align: center;
}
.sub-menu{
	background-color: #aad862;
}
.sub-menu{
	display: none;
	position: absolute;
	left: -60px;
	width: 180px;
}
.sub-menu li{
	padding-left: 10px;
	border-bottom: 1px solid #78b43d;
}
.sub-menu li a{
	text-decoration: none;
	color: black;
}
#category:hover .sub-menu{
	display: block;
}
.sub-menu li:hover{
	background-color: #78b43d;
}
.sub-menu li:hover a{
	color: white;
}
.sub-menu li{
	position: relative;
}
.has-menu{
	display: none;
	position: absolute;
	left: 180px;
	top: 0;
	width: 150px;
	background-color: #78b43d;

}
.has-menu li{
	list-style: none;
	border-bottom: 1px solid #aad862;
}
.has-menu li a{
	color: black !important;
}
.sub-menu li:hover .has-menu{
	display: block;
}
.has-menu li:hover a{
	color: white !important;
}
#pushone
{
	color:white;
	line-height: 30px;
	float: left;
	position: relative;
}
#pushone:hover .sub-menuone{
	display: block;
}
.sub-menuone{
	background-color: #aad862;
}
.sub-menuone{
	display: none;
	position: absolute;
	width: 180px;
}
.sub-menuone li{
	border-bottom: 1px solid #78b43d;
	width: 93%;
	color: black;
}
.sub-menuone li a{
	text-decoration: none;
	color: black;
}
.sub-menuone li:hover{
	border-bottom: 1px solid #78b43d;
	width: 93%;
	color: white;
	background-color: #78b43d;
}