*
{
	margin: auto;
	padding: auto;
}
#big
{
	margin-left:250px; 
	float:left;
	height:100%;
	//border: 1px solid black;
}
#big ul
{
	list-style-type: none;
	padding: 0px;
	height:100%;
}
#big ul li
*{
	padding: 0;
	margin: 0;
}
#nav{
	width: 100%;
	height: 38px;
	//border: 1px solid black;
	background-color: #78b43d;
}
#logo{
	border-right: 1px solid white;
	width: 50px;
	height: 38px;
	float: left;
	margin-right: 5px;
	//border: 10px solid black;
}
#logo img{
	padding-top: 3px;
}
#category{
	color:white;
	line-height: 38px;
	border-right: 1px solid white;
	width: 130px;
	float: left;
	position: relative;
	//border: 5px solid black;
}
#menu
{
	//border: 2px solid black;
	float:left;
	width:70%;
	height:38px;
	background-color: #78b43d;
}
#menu ul
{
	padding: 0px;
}
#menu>ul>li{
	list-style: none;
	float: left;
	line-height: 38px;
	padding-left: 5px;
	padding-right: 5px;
}
#menu>ul>li>a{
	text-decoration: none;
	color:white;
}
#search{
	line-height: 30px;
	color: white;
	float: right;
	margin-right: 20px;
	border: 1px solid white;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	text-align: center;

}
.sub-menu{
	background-color: #aad862;
}
.sub-menu{

	display: none;
	position: absolute;
	left: -60px;
	width: 180px;
}
.sub-menu li{
	padding-left: 10px;
	border-bottom: 1px solid #78b43d;
	list-style-type: none;
}
.sub-menu li a{

	text-decoration: none;
	color: black;
}
#category:hover .sub-menu{
	display: block;
}
.sub-menu li:hover{
	background-color: #78b43d;
}
.sub-menu li:hover a{
	color: white;
}
.sub-menu li{
	position: relative;
}
.has-menu{
	display: none;
	position: absolute;
	left: 180px;
	top: 0;
	width: 150px;
	background-color: #78b43d;

}
.has-menu li{
	list-style: none;
	border-bottom: 1px solid #aad862;
}
.has-menu li a{
	color: black !important;
}
.sub-menu li:hover .has-menu{
	display: block;
}
.has-menu li:hover a{
	color: white !important;
}
.push
{	
	margin-top: 0px;
	display: none;
	position: absolute;
	background-color: #78b43d;
	border: 1px solid black;
}
.push ul
{
		padding:0px;
}
.push ul li 
{
	clear: left;
	width: 200px;
	border-right: none;
	border-top: 1px solid green;
	height:30px;
	line-height: 30px;
	list-style: none;
}
#menu ul li:hover .push
{
	position: relative;
	z-index: 90;
	display: block;
}