body {
	background-image: url('../img/bg.jpg');
	background-size: cover;
}
#logo, #menu-top, #sidebar, #main {
	float: left;
}
#logo {
	width: 60%;
}
#menu-top {
	width: 40%;
	margin-top: 30px;
}
#menu-top a {
	padding-right: 10px;
	color: #000;
	text-decoration: none;
	font-style: italic;
}
#menu-top a button {
	height: 26px;
	font-weight: bold;
	border-radius: 3px;
}
#menu-top a:hover {
	color: #ff6600;
}
#menu-top a button:hover {
	background-color: #ff6600;
}

#sidebar {
	width: 25%;
}
#main {
	width: 75%;
}
.clearfix {
	clear: both;
}
#sidebar ul li {
	list-style: none;
	padding-top: 5px;
	padding-bottom: 5px;
}
#sidebar ul li a {
	text-decoration: none;
	color: #000;
}
#sidebar ul li a:hover {
	color: #ff6600;
}
.box {
	width: 200px;
	height: 196px;
	background: #fff;
	border-radius: 4px;
	position: relative;
	display: inline-block;
	margin: 5px;
	
}
.box h3 {
	padding-left: 5px;
	padding-top: 5px;
} 
.box-image img {
	max-width: 100%;
	border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.box-footer {
	/*display: none;*/
	position: absolute;
	bottom: -19px;
    padding-left: 5px;
    background: rgba(1,3,6,0.3);
    color: #fff;
    width: 195px;
    height: 40px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

}
.box:hover .box-footer {
	background: rgba(1,3,6,0.5);
}
#float li
{
	float:left;
	margin-left: 25px;
}
#float 
{
	list-style: none;
}
#float li a
{
	color: blue;
}